[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FactoInvestigate"]
	path = FactoInvestigate
	url = https://github.com/husson/factoinvestigate
[submodule "FactoMineR"]
	path = FactoMineR
	url = https://github.com/husson/factominer
[submodule "Factoshiny"]
	path = Factoshiny
	url = https://github.com/husson/factoshiny
[submodule "SensoMineR"]
	path = SensoMineR
	url = https://github.com/husson/sensominer
[submodule "missMDA"]
	path = missMDA
	url = https://github.com/husson/missmda
