[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FactoInvestigate"]
	path = FactoInvestigate
	url = https://github.com/husson/factoinvestigate
	shallow = true
	registered = true
[submodule "FactoMineR"]
	path = FactoMineR
	url = https://github.com/husson/factominer
	shallow = true
	registered = true
[submodule "Factoshiny"]
	path = Factoshiny
	url = https://github.com/husson/factoshiny
	shallow = true
	registered = true
[submodule "missMDA"]
	path = missMDA
	url = https://github.com/husson/missmda
	shallow = true
	registered = true
[submodule "SensoMineR"]
	path = SensoMineR
	url = https://github.com/husson/sensominer
	shallow = true
	registered = true
